body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.glow {
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px #fff, 0 0 30px #007bff, 0 0 40px #007bff, 0 0 50px #007bff, 0 0 60px #007bff, 0 0 70px #007bff, 0 0 80px #007bff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.navigator a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container-main-content {
    background-color: white;
    height: 73vh;
    border-radius: 10px;
}


/* copy from BootsnippA */


/* sign in FORM */

.t-login {
    color: #202020;
}

.t-or {
    text-align: center;
    color: #202020;
}

.style-big-title {
    font-weight: bold;
    box-shadow: 0 0 40px #00d9ff;
    background: #00bb73;
}

#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
}

#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#logreg-forms .form-control:focus {
    z-index: 2;
}

#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}

#logreg-forms .social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
    margin-left: 5px;
}

#logreg-forms a {
    display: block;
    padding-top: 10px;
    color: #005653;
    text-align: left;
    font-size: 14pt;
}

#logreg-form .lines {
    width: 200px;
    border: 1px solid red;
}

#logreg-forms button[type="submit"] {
    margin-top: 10px;
}

#logreg-forms .facebook-btn {
    background-color: #3C589C;
}

#logreg-forms .google-btn {
    background-color: #DF4B3B;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
    display: none;
}

#logreg-forms .form-signup .social-btn {
    width: 210px;
}

#logreg-forms .form-signup input {
    margin-bottom: 2px;
}

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}


/* Mobile */

@media screen and (max-width:500px) {
    #logreg-forms {
        width: 300px;
    }
    #logreg-forms .social-login {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms .social-btn {
        font-size: 1.3rem;
        font-weight: 100;
        color: white;
        width: 200px;
        height: 56px;
    }
    #logreg-forms .social-btn:nth-child(1) {
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span {
        display: none;
    }
    #logreg-forms .facebook-btn:after {
        content: 'Facebook';
    }
    #logreg-forms .google-btn:after {
        content: 'Google+';
    }
}


/* end copy from BootsnippA */


/* begin navigator */

.circle-btn-account {
    background: #22da00;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0 0 40px #52ff33;
}

.circle-btn-home {
    background: #1962ff;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0 0 40px #0263ff;
}

.circle-btn-news {
    background: #f17900;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    box-shadow: 0 0 40px #f17900;
}

.circle-btn-word-store {
    background: #e00054;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    box-shadow: 0 0 40px #e00054;
}

.circle-btn-manage-wb {
    background: #de0d0d;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    box-shadow: 0 0 40px #de0d0d;
}

.circle-btn-home i {
    font-size: 2em;
    padding-top: 24px;
}

.fa-user {
    font-size: 2em;
    padding-top: 22px;
}

.fa-newspaper {
    font-size: 2em;
    padding-top: 24px;
}

.fa-store-alt {
    font-size: 2em;
    padding-top: 24px;
}

.fa-atlas {
    font-size: 2em;
    padding-top: 24px;
}

.lb-btn-navigator {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.zoom-style-hover {
    transition: transform .3s;
}

.zoom-style-hover:hover {
    transform: scale(1.15);
    cursor: pointer;
}


/* end navigator */


/* begin info-wb-panel */

.info-wb-panel {
    background: white;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.t-welcome-user {
    font-size: x-large;
    font-weight: bold;
    padding-top: 5px;
    color: #252525;
}

.t-guide-user {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: #252525;
    padding-bottom: 10px;
}

.container-word-number {
    width: 250px;
    background: #de0d0d;
    border-radius: 30px;
    font-size: 45pt;
    font-weight: bold;
    box-shadow: 0 0 20px #de0d0d;
}

.word-number {
    font-size: 45pt;
    font-weight: bold;
    padding-top: 30px;
}

.info-current-wb {
    color: #202020;
    box-shadow: 0 0 20px #44444483;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

.btn-play-game {
    background: #20d400;
    border-radius: 30px;
    padding: 20px 40px 15px 40px;
    font-size: xx-large;
    font-weight: bold;
    box-shadow: 0 0 20px #19a800;
    cursor: pointer;
    color: white;
}

.btn-play-game:hover {
    background: #1cbb00;
}

.fa-play {
    font-size: 1.8em;
}

.line-1 {
    border: 1px solid #adadad;
    width: 70%;
    margin-bottom: 23px;
}


/* end info-wb-panel */


/* begin xl-streak-bar */

.xl-streak-bar {
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 5px solid #0d0221;
}

.fa-sun {
    color: #ff5e00;
}

.day-streak {
    color: #f17900;
    font-size: 1.5em;
    font-weight: bold;
}

.mini-day-streak {
    color: #f17900;
    font-size: 0.7em;
    font-weight: bold;
}

.number-day-streak {
    color: white;
    font-size: 2.1em;
    font-weight: bold;
}

.streak-style-text {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.mini-streak {
    background: #ffffff;
    padding: 6px 0 6px 0;
    margin: 40px 5px 0 5px;
    border-radius: 10px;
    border: 3px solid #ff8800
}

.mini-number-day-streak {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

.mini-streak-style-text {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

.disable-sun {
    color: #b7b7b7;
}

.border-left {
    padding-left: 15px;
    background: #ff8000;
    padding-right: 15px;
    border-radius: 10px;
}


/* end xl-streak-bar */


/* start list word book  */

@media only screen and (min-width: 300px) {
    .account-container {
        background: white;
        padding-bottom: 40px;
        padding-top: 10px;
        width: 100%;
        border-radius: 10px;
    }
    .word-book-container {
        background: rgb(255, 255, 255);
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        padding-right: 0;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1300px) {
    .account-container {
        background: white;
        padding-bottom: 40px;
        padding-top: 10px;
        width: 33%;
        border-radius: 10px;
    }
    .word-book-container {
        background: rgb(255, 255, 255);
        padding: 10px;
        width: 65%;
        border-radius: 10px;
        padding-right: 0;
        border-left: 1px solid #9e9e9e;
    }
}

.avatar {
    float: left;
    padding: 5px;
}

.avatar img {
    width: 80px;
    height: 80px;
}

.info-account {
    float: left;
    padding: 5px;
}

.info-account .name {
    color: #252525;
    font-weight: bold;
    font-size: smaller;
}

.info-account .level {
    color: #252525;
    font-weight: bold;
    border: 2px solid #808080;
    background: #ffffff;
    border-radius: 50px;
    font-size: smaller;
}

.info-exp {
    color: #2e2e2e;
    font-weight: bold;
    font-size: medium;
}

.exp-bar .progress {
    margin: 0 8px 0 8px;
    border: 1px solid #b9b9b9;
    background: white;
    border-radius: 10px;
}

.exp-bar .progress-bar {
    background: #0066ff;
    border-radius: 10px;
}

.info-level {
    color: #202020;
    font-size: large;
    font-weight: bold;
}

.info-level .right {
    float: right;
    margin-right: 10px;
}

.info-level .left {
    float: left;
    margin-left: 10px;
}

.review-info {
    font-size: large;
    color: #222222;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}

.review-info span {
    color: rgb(212, 0, 0);
}

.btn-mini-play-game {
    background: #0066ff;
    padding-top: 10px;
    margin: 30px 10px 0 10px;
    border-radius: 50px;
    color: white;
}

.btn-mini-play-game:hover {
    background: #0058dd;
    cursor: pointer;
}

.t-right-panel {
    color: #202020;
    float: left;
    font-size: x-large;
    font-weight: 500;
}

#addWordBookModal {
    color: #161616;
}

#addWordBookModal input {
    width: 90%;
}

#addWordBookModal input:focus {
    outline: 1px solid #001aff;
}

.add-button {
    float: left;
    font-size: 1.1em;
    padding-left: 5px;
    cursor: pointer;
    transition: transform .0.3s;
    border: none;
    background: white;
}

.add-button:hover {
    transform: scale(1.15)
}

.fa-plus-circle {
    color: rgb(0, 17, 255);
}

.search-box input {
    width: 30%;
    background: #ffffff;
    float: right;
    height: 35px;
    border: 1px solid #6d6d6d;
    font-size: large;
    margin-right: 5px;
    border-radius: 5px;
}

.btn-search i {
    background: rgb(0, 17, 255);
    float: right;
    padding: 8px 7px 8px 7px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-search i:hover {
    background: rgb(0, 15, 224);
}

.btn-filter i {
    background: rgb(0, 17, 255);
    float: right;
    padding: 8px 7px 8px 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.btn-filter i:hover {
    background: rgb(0, 15, 224);
}

.line-full {
    margin-top: 5px;
    border-top: 1px solid #b4b4b4;
}


/* start list wod book */

.container-list-wb {
    position: relative;
    left: 0;
    top: 0;
    max-height: 60vh;
    overflow-y: scroll;
}

.wb-item {
    color: rgb(53 53 53);
    text-align: left;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    font-size: large;
    margin: 20px 10px;
    cursor: pointer;
    transition: 0.2s;
}

.wb-item:hover {
    box-shadow: 0 6px 8px 0 rgba(43, 189, 67, 0.692);
    transition: 0.2s;
}

.wb-item label {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 3px;
}

.wb-item p {
    margin: 0;
    padding-top: 3px;
    font-weight: 500;
}

.wb-item hr {
    margin: 0;
    background: #5d5d5d;
}

.red-color {
    background: rgb(255 185 185)
}

.yellow-color {
    background: rgb(245 247 153);
}

.grey-color {
    background: rgb(222 222 222);
}

.green-color {
    background: rgb(163 247 153);
}

.pink-color {
    background: rgb(255 199 214);
}

.purple-color {
    background: rgb(247 184 255);
}

.blue-color {
    background: rgb(160 220 255);
}

.blue-white-color {
    background: rgb(159 241 232)
}


/* end list wod book */


/*start word book detail */

.toolbar-wb-detail select {
    font-size: large;
    float: right;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    color: #2c2c2c;
}

.btn-back i {
    color: rgb(0, 17, 255);
    float: left;
    padding: 8px 3px 5px 5px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-back i:hover {
    color: rgb(0, 14, 204);
}

.t-wb-detail {
    font-size: x-large;
    float: left;
    color: #202020;
    line-height: 1.4rem;
}

.t-wb-detail .sotu {
    font-size: medium;
    text-align: left;
    color: #6d6d6d;
    padding-left: 5px;
}

.left-panel-wb-detail {
    width: 45%;
    float: left;
}

.right-panel-wb-detail {
    width: 55%;
    float: right;
    padding: 10px 20px 10px 20px;
    border-left: 1px solid #949494;
    position: relative;
    left: 0;
    top: 0;
    max-height: 60vh;
    overflow-y: scroll;
    color: rgb(83, 83, 83);
}

.container-wb-detail {
    width: 100%;
}

.word-item {
    color: #0058dd;
    font-size: medium;
    border: 1px solid #0058dd;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
}

.content-word {
    float: left;
    width: 80%;
    text-align: left;
    text-justify: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 10px 0 10px 10px;
    text-transform: lowercase;
}

.word-item .ex-sentence {
    color: #202020;
    font-weight: 500;
}

.word-item:hover {
    background: #f6f6f6;
}

.word-item i {
    padding-top: 5px;
    float: right;
    padding-right: 5px;
}

.word-item i:hover {
    color: #247cff;
    cursor: pointer;
}


/*end word book detail */


/*start word detail popup */

.btn-star {
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    color: #cfcfcf;
    margin-right: 4px;
    padding: 0px 6px;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}

.btn-star:hover,
.btn-star.active {
    background: rgb(255, 204, 0);
    color: white;
}

.btn-done {
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    color: #cfcfcf;
    margin-right: 4px;
    padding: 0px 6px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 4px;
    float: left;
}

.btn-done:hover,
.btn-done.active {
    background: #ffffff;
    color: #1cbb00;
}

.btn-word-level {
    float: left;
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    margin-right: 4px;
    padding: 0px 6px;
    border-radius: 10px;
    cursor: pointer;
    color: #0066ff;
}

.btn-trash {
    float: left;
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    margin-right: 4px;
    padding: 0px 6px;
    border-radius: 10px;
    cursor: pointer;
    color: #0066ff;
}

.btn-trash:hover,
.btn-trash.active {
    color: #222222;
}

.btn-word-level:hover {
    background: #eeeeee;
}

.img-word {
    height: 200px;
}

.header-toolbar span {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-body {
    color: #0058dd;
    font-size: large;
}

.modal-body i {
    float: left;
    margin-top: 10px;
    margin-left: 3px;
    padding-right: 5px;
    color: #ff4800;
}

.modal-body i:hover {
    color: #b43300;
    cursor: pointer;
}

.ipa-word {
    float: left;
    font-size: x-large;
    font-weight: 300;
    color: #ff4800;
}

.ipa-word:hover {
    color: #b43300;
    cursor: pointer;
}

.content-word-popup {
    padding: 5px;
    border: 2px solid #0058dd;
    text-align: left;
    border-radius: 8px;
    margin-top: 8px;
    width: 100%;
}

.modal-body .title-word {
    font-size: x-large;
    text-align: left;
}

.btn-logout-nav {
    position: fixed;
    top: 3%;
    right: 1%;
    width: 150px;
    background: rgb(238, 238, 238);
    padding: 7px 0px;
    color: #0058dd;
    border-radius: 10px;
    font-size: 18px;
}

.btn-logout-nav i {
    padding-right: 5px;
    padding-top: 3px;
}

.btn-logout-nav:hover {
    background: white;
    box-shadow: 3px 3px 3px #e0e0e0;
    cursor: pointer;
}

.btn-home-nav {
    position: fixed;
    top: 3%;
    left: 1%;
    width: 150px;
    background: rgb(238, 238, 238);
    padding: 7px 0px;
    color: #0058dd;
    border-radius: 10px;
    font-size: 18px;
}


/*end word detail popup */


/*style alert danger */

#alertWarning {
    display: none;
    font-size: medium;
}


/*end */


/* start game */

.game-container {
    padding: 10px;
}

.answer-row {
    width: 60%;
    margin: 0 auto;
}

.gameMode1 img {
    height: 200px;
}

.number-question {
    float: left;
    padding: 3px 10px;
    color: #20d400;
    border-radius: 10px;
    border: 2px solid #00be0a;
    font-weight: 600;
    box-shadow: 2px 3px #0ba713b4;
}

.btn-guide {
    float: left;
    color: #20d400;
    font-size: 42px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.1s;
}

.btn-guide:hover {
    color: #1bb600;
    transition: 0.2s;
    transform: scale(1.18);
}

.star-info {
    float: right;
    border: 2px solid #f8e800;
    box-shadow: 2px 3px #e2d302;
    border-radius: 10px;
    font-size: 25pxpx;
    font-weight: 600;
    color: #ffd900;
    padding: 5px 10px;
}

.star-info i {
    margin-right: 5px;
}

.gameMode1 {
    background: #ffffff;
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
}

.gameMode1-title {
    color: #129900;
    font-size: x-large;
}

.gameMode1-sentence {
    font-size: x-large;
    background: #ffffff;
    color: rgb(54, 54, 54);
    padding: 10px 0;
    margin: 10px auto;
    width: 58%;
    border-radius: 15px;
}

.mode1-answer {
    color: #ffffff;
    background: #00d10a;
    margin: 5px;
    width: 48%;
    padding: 5px 0;
    border-radius: 10px;
    font-size: large;
    font-size: large;
    font-weight: 600;
}

.mode1-answer:hover {
    background: #00be0a;
    cursor: pointer;
}


/* end navigation */


/* start check popup */

.check-popup-title {
    float: left;
}

.check-popup-btn {
    float: right;
    font-size: large;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.check-popup-btn.default {
    background: rgb(35, 209, 0);
    color: white;
}

.check-popup-btn.default:hover {
    background: rgb(32, 194, 0);
    color: white;
}

.check-popup-btn.red:hover {
    background: #f1f1f1;
}

.check-popup-btn.green:hover {
    background: #f1f1f1;
}

.check-popup-answer {
    background: rgb(233, 233, 233);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
}

.check-popup-answer.green {
    color: #1bb600;
    background: #b1ffa4;
}

.check-popup-answer.red {
    color: rgb(219, 39, 39);
    background: #ffc4c4;
}

.check-popup-title.green {
    margin-left: 5px;
    font-weight: 600;
    font-size: large;
}

.check-popup-answer .true {
    color: rgb(0, 170, 0);
    float: left;
    margin-top: 2px;
}

.check-popup-answer .false {
    color: rgb(219, 39, 39);
    float: left;
    margin-top: 2px;
}

.check-popup-title.red {
    color: rgb(219, 39, 39);
    margin-left: 5px;
    font-weight: 600;
    font-size: large;
}

.check-popup-btn.green {
    color: #1cb900;
    background: rgb(255, 255, 255);
}

.check-popup-btn.red {
    color: rgb(219, 39, 39);
    background: rgb(255, 255, 255);
}

.correct-answer {
    font-size: large;
    margin-left: 15px;
    float: left;
}

.own-answer {
    font-size: large;
    padding: 10px;
    border-radius: 15px;
    float: left;
    background: rgb(75, 185, 75);
    color: white;
    font-weight: 600;
}

.hide-component {
    display: none;
}


/* end check popup */


/* gameMode2 */

.gameMode2 {
    width: 80%;
}

.gameMode2 .iGameMode2 {
    color: #10c500;
    cursor: pointer;
    border: 2px solid #999999;
    padding: 10px;
    border-radius: 10px;
}

.gameMode2 .iGameMode2:hover {
    color: #0ead00;
    border: 2px solid #10c500;
}

.answer-container {
    width: 90%;
    background: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 110px;
}

.question-container {
    width: 90%;
    background: white;
    margin: auto;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.fluid-section {
    width: 90%;
    margin: 0 auto;
}

.qa-container {
    float: left;
    font-size: large;
    background: #fdfdfd;
    padding: 6px 10px;
    margin: 0 3px;
    border-radius: 10px;
    cursor: pointer;
    border-color: #e5e5e5;
    color: #3b3b3b;
}

.qa-container:hover {
    border: 2px solid #00f10c;
    box-shadow: 2px 3px #0ba713b4;
}

.qa-container.active {
    border: 2px solid #00f10c;
    box-shadow: 2px 3px #0ba713b4;
}

button:focus {
    outline: 0px;
}

.line-gameMode2 {
    height: 2px;
    width: 98%;
    background: rgb(194, 194, 194);
    margin: 8px auto;
}

.result-game {
    width: 60%;
    margin: auto;
    padding-top: 40px;
}

.result-game .red {
    color: #da4453;
    float: right;
}

.result-game .green {
    color: #3adb15;
    float: left;
}

.result-game span.green {
    color: #3adb15;
    float: left;
    font-size: 5em;
    margin-left: 2.6rem;
}

.result-game span.red {
    color: #da4453;
    float: right;
    font-size: 5em;
    margin-right: 2.6rem;
}

.added-star span {
    font-size: 3rem;
    color: #383838;
    padding-top: 5px;
}

.added-star i {
    color: rgb(243, 228, 11);
    font-size: 2.7rem;
}

.footer-game {
    width: 56%;
    margin: auto;
    font-weight: bold;
    color: white;
}

.continue-game-btn {
    float: left;
    background-color: #3adb15;
    padding: 10px;
    border-radius: 10px;
}

.continue-game-btn:hover {
    background-color: #2dce08;
    cursor: pointer;
}

.end-game-btn {
    float: right;
    border-radius: 10px;
    background-color: #da4453;
    padding: 10px;
}

.end-game-btn:hover {
    background-color: #c5303f;
    cursor: pointer;
}


/* gameMode2 */


/* end game */


/* account page */

.account-page {
    background: white;
    padding-bottom: 40px;
    padding-top: 10px;
    border-radius: 10px;
}

.account-login-lve {
    margin: auto;
}


/* end account page */


/* start word store */

.book-list {
    width: 100%;
    height: 70vh;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.container-book-list {
    position: relative;
    left: 0;
    top: 0;
    max-height: 65vh;
    overflow-y: scroll;
}

.book-of-store {
    background-color: white;
    margin-bottom: 25px;
    height: 250px;
    min-height: min-content;
    cursor: pointer;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    margin-top: 3px;
}

.book-of-store:hover {
    box-shadow: 5px 5px 5px 5px #83838363;
}

.book-of-store .name {
    margin: auto;
    white-space: nowrap;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-book {
    max-height: fit-content;
}

.img-book img {
    height: 210px;
    width: auto;
}

.category-of-book {
    background-color: #626262;
    margin-bottom: 25px;
    height: 200px;
    min-height: min-content;
    cursor: pointer;
    color: white;
}

.word-of-category {
    background-color: #626262;
    margin-bottom: 25px;
    height: 200px;
    min-height: min-content;
    cursor: pointer;
}

.toolbar-store {
    color: #161616;
}


/* end word store */